/*********************************************************************************************************************
  FOOTER
*********************************************************************************************************************/
#footer {
  margin-top: var(--margins);
  background-color: rgb(var(--blueDark));
  user-select: none;

  @media screen and (max-width: 768px) {
    margin-top: 170px;
  }

  @media screen and (min-width: 769px) {
    padding-top: 3rem;
  }

  A {
    transition: 0.3s ease-in-out;

    &:hover {
      color: rgb(var(--red));
    }
  }

  // Sitemap
  //////////////////////////////////////////////////////////////////////////
  #links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8rem;
    color: rgb(var(--greyLight));

    @media screen and (max-width: 640px) {
      gap: 4rem 1.5rem;
    }

    @media screen and (max-width: 768px) {
    }

    .titleBlock {
      font-size: 1.1rem;
      font-weight: bold;
      letter-spacing: 0.1rem;

      &::first-letter {
        color: rgb(var(--red));
      }
    }

    LI {
      margin: 5px 0;
      line-height: 1.7rem;
    }

    #footerIdentity {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      }

      @media screen and (min-width: 769px) {
      }

      .logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 640px) {
          width: 50%;
          text-align: center;
        }

        @media (min-width: 641px) {
          width: 10vw;
        }

        & > DIV {
          &:first-child {
            grid-column: span 2;
          }
        }
      }

      P {
        margin-top: 1rem;
      }
    }

    #footerCoords {
      LI {
        display: flex;
        align-items: center;

        I {
          display: flex;
          margin-right: 0.7rem;
          width: 1rem;
        }
      }
    }

    #footerHours {
      LI {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  // Copyright / MLs
  //////////////////////////////////////////////////////////////////////////
  #footerLegals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 0;
    border-top: 1px solid rgb(var(--grey));
    padding: 20px 0.5rem;
    font-size: 12px;

    @media (max-width: 640px) {
      flex-direction: column;
    }

    & > DIV {
      color: rgb(var(--grey));

      @media (max-width: 640px) {
        margin-bottom: 0.3rem;
        text-align: center;
      }

      &:first-child SPAN {
        font-weight: bold;
        color: rgb(var(--red));
      }

      &:last-child A:nth-child(n + 2)::before {
        margin: 0 1rem;
        content: "|";

        @media screen and (max-width: 768px) {
          margin: 0 0.4rem;
        }
      }

      &:last-child A:last-child {
        @media screen and (max-width: 768px) {
          display: block;
          margin-top: 0.5rem;
        }

        &::before {
          @media screen and (max-width: 768px) {
            content: none;
          }
        }
      }

      .logo {
        display: inline-block;
        margin-inline: 0.5rem;
        width: 2rem;
        vertical-align: middle;
        filter: hue-rotate(180deg);
      }
    }
  }
}
