/*********************************************************************************************************************
  OFFRE
*********************************************************************************************************************/
#offre {
  background-color: rgb(var(--greyLight));

  // Visual
  // ----------------------------------------------------------------
  .visual {
    background-image: url(../../assets/images/intro-offre.webp);
  }

  // SECTIONS
  SECTION {
    padding-block: 120px;

    &:first-child {
      padding-top: 150px;
    }

    &:last-child {
      padding-bottom: 150px;
    }

    &.quinconce {
      &:nth-child(odd) {
        background-color: rgb(var(--greyPale));

        & > DIV {
          @media screen and (min-width: 769px) {
            flex-direction: row-reverse;
          }
        }
      }

      & > DIV {
        display: flex;

        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
          gap: 1.5rem;
        }

        @media screen and (min-width: 769px) {
          gap: 3rem;
        }

        .im {
          border-radius: 7px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          @media screen and (max-width: 768px) {
            width: 100%;
            height: 200px;
          }

          @media screen and (min-width: 769px) {
            width: 50%;
          }
        }

        .txt {
          @media screen and (max-width: 768px) {
          }

          @media screen and (min-width: 769px) {
            width: 50%;
          }

          P {
            margin-top: 1rem;
            text-align: justify;
          }

          .spec {
            display: inline-block;
            margin-top: 2rem;
            margin-right: 5rem;
            vertical-align: top;

            &:last-child {
              margin-right: 0;
            }

            UL {
              margin-top: 1rem;
              margin-left: 2rem;
              list-style: circle;
            }
          }
        }
      }
    }

    &#strategy {
      margin-top: 180px;
      background-color: rgb(var(--grey));
    }

    &#keys {
      background-color: rgb(var(--greyLight));
    }
  }

  & + FOOTER {
    margin-top: 0;
  }
}
