/*********************************************************************************************************************
  OFFRE
*********************************************************************************************************************/
#offre {
  background-color: rgb(var(--greygrey));

  // Visual
  // ----------------------------------------------------------------
  .visual {
    background-image: url(../../assets/images/intro-offre.webp);
  }

  // SECTIONS
  SECTION {
    @media screen and (max-width: 768px) {
      padding-block: 90px;
    }

    @media screen and (min-width: 769px) {
      padding-block: 180px;
    }

    &.quinconce {
      display: flex;
      padding-bottom: 0;

      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        gap: 1.5rem;
      }

      @media screen and (min-width: 769px) {
        gap: 3rem;
      }

      &:nth-child(odd) {
        @media screen and (min-width: 769px) {
          flex-direction: row-reverse;
        }
      }

      .im {
        border-radius: 7px;
        background: url(../../assets/images/monaco-intro.webp) fixed no-repeat right bottom / cover;

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 200px;
        }

        @media screen and (min-width: 769px) {
          width: 50%;
        }
      }

      .txt {
        @media screen and (max-width: 768px) {
        }

        @media screen and (min-width: 769px) {
          width: 50%;
        }

        P {
          margin-top: 1rem;
          text-align: justify;
        }
      }
    }

    &#strategy {
      margin-top: 180px;
      background-color: rgb(var(--grey));
    }

    &#keys {
      background-color: rgb(var(--greyLight));
    }
  }

  & + FOOTER {
    margin-top: 0;
  }
}
