/*********************************************************************************************************************
  GROUP
*********************************************************************************************************************/
#group {
  background-color: rgb(var(--greygrey));

  // Visual
  // ----------------------------------------------------------------
  .visual {
    &::before {
      position: absolute;
      z-index: 2;
      content: "";

      @media screen and (max-width: 768px) {
        right: 1rem;
        bottom: -52px;
        width: 130px;
        height: 100px;
      }

      @media screen and (min-width: 769px) {
        left: 46%;
        bottom: -64px;
        width: 30vw;
        height: 130px;
      }
    }
  }
  &.mes {
    .visual {
      background-image: url(../../assets/images/intro-mes.webp);

      &::before {
        background: url(../../assets/images/logo-MES.webp) no-repeat 0 0 / contain;
      }
    }
  }
  &.i2s {
    .visual {
      background-image: url(../../assets/images/i2s-intro.webp);

      &::before {
        background: url(../../assets/images/logo-I2S.webp) no-repeat 0 0 / contain;
      }

      H1 {
        @media screen and (max-width: 768px) {
          font-size: 6vw;
        }
      }
    }
  }
  &.c2s {
    .visual {
      background-image: url(../../assets/images/c2s-intro.webp);

      &::before {
        background: url(../../assets/images/logo-C2S.webp) no-repeat 0 0 / contain;
      }
    }
  }

  // SECTIONS
  SECTION {
    @media screen and (max-width: 768px) {
      padding-block: 90px;
    }

    @media screen and (min-width: 769px) {
      padding-block: 180px;
    }

    &.quinconce {
      display: flex;
      // padding-bottom: 0;

      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        gap: 1.5rem;
      }

      @media screen and (min-width: 769px) {
        gap: 3rem;
      }

      &:nth-child(odd),
      .rev {
        @media screen and (min-width: 769px) {
          flex-direction: row-reverse;
        }
      }

      .im {
        border-radius: 7px;
        background: url(../../assets/images/monaco-intro.webp) fixed no-repeat right bottom / cover;

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 200px;
        }

        @media screen and (min-width: 769px) {
          width: 50%;
        }
      }

      .imFx {
        border-radius: 7px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        IMG {
          border-radius: 7px;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 200px;
        }

        @media screen and (min-width: 769px) {
          width: 50%;
        }
      }

      .txt {
        @media screen and (max-width: 768px) {
        }

        @media screen and (min-width: 769px) {
          width: 50%;
        }

        P {
          margin-top: 1rem;
          text-align: justify;
        }
      }
    }

    &#keys {
      padding-block: 90px 30px;
      background-color: rgb(var(--greyLight));
      background-image: url(../../assets/images/bgCounters.webp), url(../../assets/images/bgCounters.webp);

      @media screen and (max-width: 768px) {
        background-position: 150px top, calc(100% + 250px) 50px;
        background-repeat: repeat-y, repeat-Y;
      }

      @media screen and (min-width: 769px) {
        background-position: left center, center center;
        background-repeat: no-repeat, no-repeat;
        background-size: cover;
      }

      #counters {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 4rem;
        color: rgb(var(--red));

        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          gap: 4rem;
          margin: 0 auto;
          padding-block: 3rem;
        }

        @media screen and (min-width: 769px) {
          align-items: flex-start;
          height: 212px;
        }

        DIV {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: bold;
          letter-spacing: 0.2rem;

          @media screen and (max-width: 768px) {
            font-size: 2.5rem;
          }

          @media screen and (min-width: 769px) {
            font-size: 4rem;
          }

          SPAN {
            text-align: center;
            font-weight: normal;
            color: rgb(var(--blueDark), 0.8);
            letter-spacing: 0.1rem;

            @media screen and (max-width: 768px) {
              font-size: 1rem;
            }

            @media screen and (min-width: 769px) {
              font-size: 1.5rem;
            }

            &:nth-child(2) {
              font-size: 0.9rem;
            }
          }
        }
      }

      #diags {
        display: flex;
        justify-content: space-between;
        text-align: center;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          margin: 0 auto;
          padding-block: 3rem;
        }

        @media screen and (min-width: 769px) {
          align-items: flex-start;
          gap: 8rem;
        }

        SPAN {
          display: block;
          margin-top: -3rem;
          padding-bottom: 4rem;
          font-size: 1.2rem;
        }
      }
    }

    .timeline {
      display: grid;
      margin-top: 4rem;
      // justify-content: space-between;
      // align-items: center;

      @media screen and (max-width: 768px) {
        grid-template-rows: repeat(2, auto);
        gap: 1rem;
        margin-left: 50px;
      }

      @media screen and (min-width: 769px) {
        grid-template-columns: repeat(5, 1fr);
        gap: 5rem 2rem;
        text-align: center;
      }

      &::after {
        position: absolute;
        background-color: rgb(var(--red));
        content: "";

        @media screen and (max-width: 768px) {
          left: -32px;
          top: 0;
          width: 2px;
          height: 100%;
        }

        @media screen and (min-width: 769px) {
          left: 0;
          top: 69px;
          width: 100%;
          height: 2px;
        }
      }

      DIV:nth-child(-n + 5) {
        font-size: 1.8rem;
        font-weight: bold;
        color: rgb(var(--red));
        // text-align: center;

        &:nth-child(1) {
          @media screen and (max-width: 768px) {
            order: 1;
          }
        }

        &:nth-child(2) {
          @media screen and (max-width: 768px) {
            order: 3;
          }
        }

        &:nth-child(3) {
          @media screen and (max-width: 768px) {
            order: 5;
          }
        }

        &:nth-child(4) {
          @media screen and (max-width: 768px) {
            order: 7;
          }
        }

        &:nth-child(5) {
          @media screen and (max-width: 768px) {
            order: 9;
          }
        }

        &::after {
          position: absolute;
          border-radius: 50%;
          background-color: rgb(var(--red));
          content: "";

          @media screen and (max-width: 768px) {
            left: -37px;
            top: 14px;
            width: 12px;
            height: 12px;
          }

          @media screen and (min-width: 769px) {
            left: 45%;
            top: 60px;
            width: 20px;
            height: 20px;
          }
        }
      }

      DIV:nth-child(n + 6) {
        font-size: 1.1rem;
        font-weight: bold;

        &:nth-child(6) {
          @media screen and (max-width: 768px) {
            order: 2;
          }
        }

        &:nth-child(7) {
          @media screen and (max-width: 768px) {
            order: 4;
          }
        }

        &:nth-child(8) {
          @media screen and (max-width: 768px) {
            order: 6;
          }
        }

        &:nth-child(9) {
          @media screen and (max-width: 768px) {
            order: 8;
          }
        }

        &:nth-child(10) {
          @media screen and (max-width: 768px) {
            order: 10;
          }
        }
      }
    }

    &#strategy {
      background-color: rgb(var(--grey));

      .core {
        display: grid;
        align-items: flex-end;
        gap: 3rem;
        text-align: center;
        font-weight: bold;
        color: rgb(var(--blueDark));

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
          margin-top: 2rem;
        }

        @media screen and (min-width: 769px) {
          grid-template-columns: repeat(4, 1fr);
          font-size: 1.2rem;
        }

        DIV {
          cursor: pointer;

          &:first-child {
            grid-column: span 2;
            cursor: default;
          }
        }
      }
    }

    &#values {
      align-items: center;
      flex-direction: row-reverse;
      gap: 5rem;

      H3 {
        margin-top: 1.5rem;
      }

      P {
        margin-top: 0.35rem;
      }

      .im {
        width: 100%;
        height: 400px;
        background-attachment: initial;
      }
    }

    &#seaWergie {
      display: flex;
      align-items: center;
      min-height: 90vh;
      background: url(../../assets/images/sea-wergie.webp) no-repeat center center / cover;

      .content {
        & > DIV {
          margin-bottom: 5vh;
          background-image: linear-gradient(to right, rgb(var(--blueDark), 0.5) 50%, transparent);
          color: white;
          text-shadow: 1px 1px 0px black;

          @media screen and (max-width: 768px) {
            padding: 1rem;
          }

          @media screen and (min-width: 769px) {
            padding: 2rem;
            width: 50vw;
          }

          H2 {
            color: white;

            &::first-letter {
              color: red;
            }
          }

          P {
            margin-top: 1rem;
            font-size: 1.2rem;

            @media screen and (max-width: 768px) {
            }

            @media screen and (min-width: 769px) {
              width: 60%;
            }
          }

          DIV {
            margin-top: 1.5rem;
            font-weight: bold;
          }

          BUTTON {
            margin-top: 2rem;
          }
        }
      }
    }

    &#metiers {
      background-color: rgb(var(--greyPale));

      .titles {
        margin-bottom: 5rem;
      }

      .content {
        display: grid;
        gap: 5rem 3rem;

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 769px) {
          grid-template-columns: repeat(3, 1fr);
        }

        DIV {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          .im {
            display: grid;

            @media screen and (max-width: 768px) {
              height: 70px;
            }

            @media screen and (min-width: 769px) {
              margin-bottom: 2rem;
              height: 100px;
            }
          }

          H2 {
            margin-top: 3rem;
          }

          P {
            margin-top: 0.7rem;
          }
        }
      }
    }
  }

  & + FOOTER {
    margin-top: 0;
  }
}
